<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>
   <div class="container" style="text-align: center;">
		<h1>Welcome to Student Academy</h1><br><br>
		<div >
		<h3>Sign in as :</h3><br>
		<h4><a href="studentlogin.html">Student</a></h4><br><br>
		<h2>OR</h2><br><br>
		<h4><a href="teacherlogin.html">Teacher</a></h4><br>
		</div>
   </div>
  
  </body>

</html>